@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<CategoryDto>

    <a class="btn btn-primary mb-2" asp-controller="Category" asp-action="New" >Kategori Ekle</a>
    <table class="table table-bordered">

        <thead>
            <tr>
                <th>Id</th>
                <th>Adı</th>
                <th>Oluşturma Tarihi</th>
                <th>Güncelleme Tarihi</th>
                <th>Açıklama</th>
                <th>Durumu</th>
                <th>İşlem</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
        {
            <tr>
                <td> @item.Id</td>
                <td> @item.Name</td>
                <td> @item.CreateDate</td>
                <td> @item.UpdateDate</td>
                <td> @item.Description</td>
                <td> @item.IsDeleted</td>
                <td> 
                    <a class="btn btn-secondary m-2" asp-controller="Category" asp-action="Update" asp-route-id="@item.Id">Güncelle</a>
                    <a class="btn btn-danger m-2" asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>

        }
        </tbody>
        <tfoot>
            <tr>

            </tr>
        </tfoot>
    </table>