
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model CategoryAddDto

<h1> Kategori Ekleme </h1>

<div class="row">

    <form asp-action="Add" method="post" asp-controller="Category">
        <div class="form-group mb-2">
            <label asp-for="@Model.Name"></label>
            <input asp-for="@Model.Name" class="form-control" />
            <span asp-validation-for="@Model.Name" class="text-danger"></span>
        </div>
       
        <div class="form-group mb-2">
            <label asp-for="@Model.Description"></label>
            <input asp-for="@Model.Description" class="form-control" />
            <span asp-validation-for="@Model.Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input  type="submit" class="btn-primary" value="Kaydet" />
        </div>
    </form>
</div>